.CartTotal {
    flex: 0.3;
    background-color: white;
    padding: 20px;
    text-align: left;
    min-width: 300px;
  }

  .CartTotal button {
    background: #f0c14b;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #a88734;
    padding: 4px 8px;
    cursor: pointer;
  }

  .CartTotal button:hover {
    background: #ddb347;
  }

  .CartTotal button:focus {
    outline: none;
  }

  .CartTotal-price {
    margin-left: 8px;
  }